<div class="col-md-3" style="padding-top: 10px">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Announcements</h3>
    </div>
    <div class="panel-body">
        <b>Feb 28, 2021</b><br/>
        Don't forget to renew your subscriptions today!
    </div>
    <div class="panel-body">
        <b>Mar 9, 2021</b><br/>
        Check out our discounts page for deals at local restaurants.
    </div>
  </div>
  </div>