<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
<main role="main" class="container">
<div class="row">

<%= render "lhs_column" %>

<%= render "article" %>

</div><!-- /.row -->
</div><!-- main -->
</div><!-- container -->

	