<div class="container">
<main role="main" class="container">

<%= render "top_banner" %>

<div class="row">

<%= render "lhs_column" %>

<div class="col-md-8 blog-main">
  <%= render "article" %>
  <%= render "/comment/view" %>
</div>

</div><!-- /.row -->
</div><!-- main -->
</div><!-- container -->

	