

<div class="container">
<main role="main" class="container">

<%= render "top_banner" %>

<div class="row">

<%= render "lhs_column" %>

<%= render "article" %>

</div><!-- /.row -->
</div><!-- main -->
</div><!-- container -->

	